.welcome {
    text-align: center;
}

.lobby {
    text-align: center;
}

.chatroom {
    text-align: center;
}

.title {
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(168, 163, 163);
}